a {
    text-decoration: none;
}

.card, form, div[role='alert'], button[type='submit'] {
    margin-top: 1.3rem;
}

.card-header span, legend {
    font-size: 1.3rem;
    font-weight: bold;
}

legend {
    padding: 0.77rem;
}

footer {
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 0.5rem;
    text-align: center;
}

footer span {
    margin-right: 1rem;
    margin-left: 1rem;
}

